.load-more {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px auto 20px auto;
  width: 100px;
  height: 30px;

  color: #101010;
  background-color: #a0b1fc;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}
