.search-form {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;

  background-color: #3350d1;

  & div {
    position: relative;
    display: inline;
  }

  & input {
    width: 500px;
    height: 40px;
    padding: 5px 8px;
    padding-right: 45px;
    border: none;
    border-radius: 5px;
    &:focus-within {
      outline: 1px solid lightseagreen;
    }
  }

  & button {
    padding: 0px;
    position: absolute;
    top: 2px;
    right: 5px;
    width: 36px;
    height: 36px;

    cursor: pointer;

    background-color: #ffffff;
    background-image: url(../images/search.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 5px;

    z-index: 100;
  }
}
